<mat-card class="profile-background" appearance="outlined">
  <button mat-icon-button class="edit-user-btn" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openEditUserDialog()">
      <mat-icon>edit</mat-icon>Edit
    </button>
    <button mat-menu-item (click)="openDeleteUserDialog()">
      <mat-icon>delete</mat-icon>Delete
    </button>
  </mat-menu>
  <img src=".\assets\img\1.webp" />
  <div class="user-details">
    <h2>{{ userData.firstName }} {{ userData.lastName }}</h2>
    <a href="mailto:"><mat-icon>mail</mat-icon> {{ userData.eMail }}</a>
  </div>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ userData.street }} <br />
    {{ userData.zipCode }} {{ userData.city }}
  </mat-card-content>
</mat-card>
