<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
  <form class="form">
    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>First name</mat-label>
        <input
          [(ngModel)]="user.firstName"
          name="firstName"
          matInput
          placeholder="Max"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          [(ngModel)]="user.lastName"
          name="lastName"
          matInput
          placeholder="Musterman"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [(ngModel)]="birthDate"
          name="birthDate"
          [matDatepicker]="picker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street, House No.</mat-label>
        <input matInput [(ngModel)]="user.street" name="street" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Zip</mat-label>
        <input
          [(ngModel)]="user.zipCode"
          name="zipCode"
          matInput
          placeholder="12345"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          [(ngModel)]="user.city"
          name="city"
          matInput
          placeholder="Musterstadt"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button="">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>
