<button
  mat-fab
  class="add-user-button"
  matTooltip="Add new user"
  [matTooltipPosition]="'above'"
  matTooltipHideDelay="500"
  (click)="openDialog()"
>
  <mat-icon>person_add</mat-icon>
</button>

<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
      <tr>
        <td>dfsdf</td>
        <td>dfsdf</td>
        <td>dfsdf</td>
      </tr>
      <tr>
        <td>dfsdf</td>
        <td>dfsdf</td>
        <td>dfsdf</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
