<button
  mat-fab
  class="add-user-button"
  matTooltip="Add new user"
  [matTooltipPosition]="'above'"
  matTooltipHideDelay="500"
  (click)="openDialog()"
>
  <mat-icon>person_add</mat-icon>
</button>

<mat-card appearance="outlined">
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
      </tr>
      <tr *ngFor="let user of allUserData" [routerLink]="['/user/' + user.id]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.eMail }}</td>
        <td>{{ user.city }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
